{% extends 'base.html.twig' %}

{% block title %}Edit House{% endblock %}

{% block body %}
    <h1>Edit House</h1>

    {{ include('house_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_house_crud_index') }}">back to list</a>

    {{ include('house_crud/_delete_form.html.twig') }}
{% endblock %}
